h1{
  color: green;
}
li{
  color: rgb(155, 97, 0);
}
p{
  color: #cccc00;
}
h2{
  color: rgba(153, 214, 255,0.5);
}
.Prothom{
  background-color: green;
}
/* classes always start with a dot */
.FirstDiv{
  background-color: lightgreen;
  color: black;
}
.SecondDiv{
  background-color: lightblue;
  color: black;
}
